* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

.main-content {
  display: flex;
  margin: 50px auto;
  width: 960px;
}

.main-content-item {
  width: 300px;
  background-color: #EEEEEE;
  margin-right: 30px;
  position: relative;
}

.main-content-item:last-child {
  margin-left: 0;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: white;
}

.main-content-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
}

.main-content-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
}

.main-content-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
}

h3 {
  margin: 15px 0 5px;
}

.main-content-text {
  width: 300px;
  padding-top: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}

/* chapter9_exercise */